            header {
                background: #000;
                font-family: 'Lobster', cursive;
            }
            
            .tabela {
                width: 940px;
                position: relative;
                margin: auto;
            }
            
            nav {
                position: absolute;
                right: 40px;
                top: 120px;
            }
            
            nav li {
                display: inline;
                margin: 0 0 0 20px;
            }
            
            nav a {
                text-transform: uppercase;
                color: rgb(255, 245, 245);
                font-weight: bold;
                text-decoration: none;
                font-size: 25px;
            }
            
            nav a:hover {
                color: purple;
                text-decoration: underline;
                font-size: 30px;
            }
            
            nav a:active {
                color: blue;
            }
            
            footer {
                text-align: center;
                background: url("bg.png");
                background: black;
                min-width: 320px;
                max-width: 880px;
            }
            
            footer img {
                margin: 20px 0;
            }
            
            footer h3 {
                color: white;
                font-size: 30px;
                padding: 20px;
            }
            
            section img {
                width: 20%;
                display: block;
                margin: 0px auto;
                box-shadow: 10px 10px 30px #000;
                /* coloca a img para fora e para text troca o box*/
                /* inset depois do : para sombra interna*/
            }
            
            main {
                background: linear-gradient(180deg, #fff, rgb(0, 0, 0));
                /*posso tipo colocar uma cor com mias espaçp que a outra com porcentagem nas cores*/
            }
            
            main h2 {
                font-size: 70px;
                color: black;
                text-align: center;
                padding: 20px;
            }
            /* main (>) p para todos os paragrafos direto do elemento
           img+p o primeiro paragrafo
           img~p todos debaixo da imagem
           .principal p:not(#mapa) vc nao quer mudar apenas paragrafos desta idmapa
               */
            
            main p {
                font-size: 30px;
                text-align: center;
                margin: 40px;
            }
            
            #mapa {
                text-align: center;
                padding: 30px;
                display: block;
                margin: 0px auto;
                width: 940px;
            }
            
            main h3 {
                color: black;
                font-size: 50px;
                text-align: center;
                margin: 30px;
            }
            
            .video p {
                color: white;
                font-size: 40px;
            }
            
            .video {
                text-align: center;
                padding: 30px;
            }
            
            .video li {
                color: white;
                font-size: 30px;
                padding: 20px;
                text-transform: uppercase;
            }
            
            .video li:before {
                /* aferter*/
                content: "✓";
                color: red;
                margin: 10px;
            }
            
            @media screen and (max-width: 1200px) {
                nav {
                    position: static;
                }
                h1 {
                    text-align: center;
                }
                footer {
                    margin: auto;
                }
                .video,
                #mapa,
                section img {
                    width: 100%
                }
            }
            /* em é tipo de medida, tipo: video:fiste{ai muda algo } */
            /* vertical-align:top = as coisas vao fica em cima
display:inline block = para deixar a tabela do lado do video
line hight = espaçamento entre as linhas*/
            /*width:calc(28% - 40px) para deixar a imagem do tamanho certo para o site           
/*opacity: 3;transition: 400ms; opacidade*/
            /*cima direita baixo esquerda margin --- nth-child(2n) so numeros pares ou (4) quarto numero vai recebe as confg */