header {
    font-family: Arial;
    background: #71bb11;
    padding: 40px 0;
}


/* width é a largura da div, posição relativa e margin auto ela auto se posiciona dentro da div  */

.tabela {
    width: 940px;
    position: relative;
    margin: auto;
}


/* tem que colocar position relative para vc tirar a tabela do padrao de posicionamento, heighth = altura, position leva muitoo em conta a tela que é usada*/

nav {
    position: absolute;
    right: 0px;
    top: 120px;
}


/* nav li é para mudar a tabela em si, display:inline deixa a tabela em linha */

nav li {
    display: inline;
    margin: 0 0 0 20px;
}


/* nav a é para mudar no link que tem detro da tabela */

nav a {
    /* transform é para colocar as letras em maiusculas, e weight para aumentar a expressao da palavra, decoration ?*/
    text-transform: uppercase;
    color: rgb(255, 245, 245);
    font-weight: bold;
    text-decoration: none;
    font-size: 25px;
}