.tree {
    background: #00ced1;
}

#banner {
    width: 100%;
}

header:hover {
    color: white;
}

#h1:active {
    color: blue;
}

#h1 {
    font-size: 60px;
    text-align: center;
}

#p1 {
    font-size: 50px;
    text-align: center;
}

#p2 {
    font-size: 30px;
    text-align: center;
}

#p3 {
    font-size: 30px;
    text-align: center;
    padding: 50px;
}

strong {
    color: white;
}

strong1 {
    color: purple;
}

.one {
    background: orange;
}

header {
    font-size: 90px;
    text-align: center;
}

img {
    width: 60%
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.two {
    font-size: 30px;
    color: black;
}

h2 {
    text-align: center;
    padding: 20px;
}